In [28]:
import pandas as pd
import csv
import sqlite3

In [29]:
with open('Desktop/btc-market-price.csv', 'r') as fp:
    print(fp)

<_io.TextIOWrapper name='Desktop/btc-market-price.csv' mode='r' encoding='UTF-8'>

In [30]:
with open('Desktop/btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readlines()):
        if(index < 10):
            print(index, line)

0 2017-04-02 00:00:00,1099.169125

1 2017-04-03 00:00:00,1141.813

2 2017-04-04 00:00:00,1141.6003625

3 2017-04-05 00:00:00,1133.0793142857142

4 2017-04-06 00:00:00,1196.3079375

5 2017-04-07 00:00:00,1190.45425

6 2017-04-08 00:00:00,1181.1498375

7 2017-04-09 00:00:00,1208.8005

8 2017-04-10 00:00:00,1207.744875

9 2017-04-11 00:00:00,1226.6170375

In [31]:
with open('Desktop/btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readlines()):
        if(index < 10):
            timestamp, price = line.split(',')
            print(f"{timestamp}: ${price}")

2017-04-02 00:00:00: $1099.169125

2017-04-03 00:00:00: $1141.813

2017-04-04 00:00:00: $1141.6003625

2017-04-05 00:00:00: $1133.0793142857142

2017-04-06 00:00:00: $1196.3079375

2017-04-07 00:00:00: $1190.45425

2017-04-08 00:00:00: $1181.1498375

2017-04-09 00:00:00: $1208.8005

2017-04-10 00:00:00: $1207.744875

2017-04-11 00:00:00: $1226.6170375

In [32]:
!head exam_review.csv

head: exam_review.csv: No such file or directory

In [33]:
df = pd.read_csv('Desktop/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'])

In [34]:
df.head()

                     0            1
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [20]:
df = pd.read_csv('Desktop/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'])

In [21]:
df.head()

             Timestamp        Price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  365 non-null    object
 1   Price      365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [23]:
df = pd.read_csv('Desktop/btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price':'float'},
                 parse_dates=[0])

In [24]:
df.head()

   Timestamp        Price
0 2017-04-02  1099.169125
1 2017-04-03  1141.813000
2 2017-04-04  1141.600363
3 2017-04-05  1133.079314
4 2017-04-06  1196.307937

In [27]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

In [35]:
conn = sqlite3.connect('chinook..db')

In [36]:
cur = conn.cursor()

In [42]:
cur.execute('SELECT * FROM employees LIMIT 5;')

OperationalError: no such table: employees

In [43]:
results = cur.fetchall()

In [44]:
results

[]