In [25]:
import numpy as np
import pandas as pd

In [ ]:
g7_pop = pd.Series([35467000, 63951000, 80940000, 60665000, 127061000, 64511000, 318523000])

In [ ]:
g7_pop.index = [
    'Canada',
    'France',
    'Grermany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [3]:
df = pd.DataFrame({
    'Populaion': [35467000, 63951000, 8094000, 60665000, 127061000, 64511000, 318523000],
    'GDP' : [
        1785387,
        2833687,
        2167744,
        3874437,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America',
    ]
}, columns= ['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [4]:
df

  Population       GDP  Surface Area    HDI Continent
0        NaN   1785387       9984670  0.913   America
1        NaN   2833687        640679  0.888    Europe
2        NaN   2167744        357114  0.916    Europe
3        NaN   3874437        301336  0.873    Europe
4        NaN   4602367        377930  0.891      Asia
5        NaN   2950039        242495  0.907    Europe
6        NaN  17348075       9525067  0.915   America

In [5]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    0 non-null      object
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 412.0+ bytes

In [8]:
df.size

35

In [9]:
df.shape

(7, 5)

In [10]:
df.describe()

                GDP  Surface Area       HDI
count  7.000000e+00  7.000000e+00  7.000000
mean   5.080248e+06  3.061327e+06  0.900429
std    5.494020e+06  4.576187e+06  0.016592
min    1.785387e+06  2.424950e+05  0.873000
25%    2.500716e+06  3.292250e+05  0.889500
50%    2.950039e+06  3.779300e+05  0.907000
75%    4.238402e+06  5.082873e+06  0.914000
max    1.734808e+07  9.984670e+06  0.916000

In [11]:
df.dtypes

Population       object
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [12]:
df.dtypes.value_counts()

object     2
int64      2
float64    1
Name: count, dtype: int64

In [13]:
df.loc

In [14]:
df.iloc[-1]

Population           NaN
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: 6, dtype: object

In [15]:
df['Population']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: Population, dtype: object

In [16]:
    df.drop(columns =['Population', 'HDI'])

        GDP  Surface Area Continent
0   1785387       9984670   America
1   2833687        640679    Europe
2   2167744        357114    Europe
3   3874437        301336    Europe
4   4602367        377930      Asia
5   2950039        242495    Europe
6  17348075       9525067   America

In [17]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index =['France', 'Germany', 'Italy'],
    name = 'Language'
)

In [18]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [19]:
df['Language'] = langs

In [20]:
df

  Population       GDP  Surface Area    HDI Continent Language
0        NaN   1785387       9984670  0.913   America      NaN
1        NaN   2833687        640679  0.888    Europe      NaN
2        NaN   2167744        357114  0.916    Europe      NaN
3        NaN   3874437        301336  0.873    Europe      NaN
4        NaN   4602367        377930  0.891      Asia      NaN
5        NaN   2950039        242495  0.907    Europe      NaN
6        NaN  17348075       9525067  0.915   America      NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    0 non-null      object
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
 5   Language      0 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 468.0+ bytes

In [28]:
df.head()

  Population      GDP  Surface Area    HDI Continent Language
0        NaN  1785387       9984670  0.913   America      NaN
1        NaN  2833687        640679  0.888    Europe      NaN
2        NaN  2167744        357114  0.916    Europe      NaN
3        NaN  3874437        301336  0.873    Europe      NaN
4        NaN  4602367        377930  0.891      Asia      NaN